	.breadcrumb-alt{
		overflow:hidden;
		list-style:none;
		margin:0;
		padding:0;
		width:100%
	}.breadcrumb-alt>li{
		float:left;
		margin:0 25px 0 0
	}.breadcrumb-alt>li>a{
		position:relative;
		float:left;
		background-color:#fff;
		color:#555;
		font-size:12px;
		padding:7px 10px;
	}.breadcrumb-alt>li>a:after,.breadcrumb-alt>li>a:before{
		position:absolute;
		top:50%;
		content:"";
	}.breadcrumb-alt>li>a:before{
		left:-1em;
		margin-top:-1.6em;
		border-color:#fff #fff #fff rgba(0,0,0,0);
		border-style:solid;
		border-width:1.5em 0 1.7em 1em;
	}.breadcrumb-alt>li>a:after{
		right:-1em;
		margin-top:-1.5em;
		border-bottom:1.5em solid rgba(0,0,0,0);
		border-left:1em solid #fff;
		border-top:1.5em solid rgba(0,0,0,0)
	}.breadcrumb-alt>li>a.active,.breadcrumb-alt>li>a:hover{
		text-decoration:none;
		background-color:#497093;
		color:#fff;
	}.breadcrumb-alt>li>a.active:before,.breadcrumb-alt>li>a:hover:before{
		border-color:#497093 #497093 #497093 rgba(0,0,0,0)
	}.breadcrumb-alt>li>a.active:after,.breadcrumb-alt>li>a:hover:after{
		border-left:1em solid #497093
	}

body {
    background: url(/images/background-wallpaper.png) #fff;
  }
  .ui.menu .item img.logo {
    margin-right: 1.5em;
  }
  .main.container {
    margin-top: 7em;
  }
  
#dfooter {
      margin-top: 50px;
      padding: 8px 10px 0px;
      color: #777;
      line-height: 16px;
      font-size: 11px;
      height: 20px;
      border-top: 5px solid #497093;
  }